{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}


<div class="container reset-confirm py-4">

    <div class="row">
        <div class="col-12">
            <div class="header text-center mb-4 mt-4">
                <h2>Reset Password</h2>
            </div>
        </div>
    </div>

    <center>
        <div class="shadow p-5" style="max-width: 600px;">
            <p>I have mailed you instruction for resetting your password.</p>
            <p>If you have didn't recive it verified you entered the correct email or check your spam folder.</p>
        </div>
    </center>

</div>


{% endblock %}