{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}



<!-- password-reset-form  -->




<div class="container password-reset-confirm py-4">

    <div class="row profile-update">
        <div class="col-md-12">
            <div class="header text-center pb-5 mt-4">
                <h1>Forgot Password</h1>
            </div>
        </div>
    </div>

    <div class="row profile-main">
        <div class="col-12">
            <center>
                <form method="POST" style="max-width: 600px;" class="shadow p-5">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-5">Login to Your Account!</h3>
                            {% include 'components/message.html' %}
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating">
                                <label for="Email">{{field.label_tag}}</label>
                                <h6>{{ form }}</h6>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-floating"></div>
                    <button type="submit" class="btn p-2 text-white px-4 mt-2">Send Confirmation Link</button>
            </div>
    
            </form>
            </center>
        </div>
    </div>

</div>





{% endblock %}