{% extends 'base.html' %}
{% block title %}Become an Instructor{% endblock %}
{% load static %}

{% block content %}


<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Become An Instructor</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Become An Instructor</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Instructor Page Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5 bg-white text-center px-3" style="color: #fb873f;">Apply As Instructor</h1>

        </div>
        <div class="row g-4">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Welcome to SecretCoder - Where Knowledge Meets Innovation</h5>
                <p class="mb-4">Are you passionate about sharing your expertise and making a real impact on learners
                    worldwide? If so, we invite you to become an instructor on our dynamic e-learning platform! Join a
                    community of educators dedicated to fostering a love for learning and empowering individuals to
                    achieve their goals.</p>


            </div>
        </div>
    </div>
</div>

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/instructor-1.jpg' %}"
                        alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">

                <h1 class="mb-4" style="color: #fb873f;">Why Choose SecretCoder as Your Teaching Hub?</h1>

                <div class="row gy-2 gx-4 mb-4">
                    <ul style="list-style: none;">
                        <li><b>Global Reach, Local Impact :</b> Reach a diverse audience from all corners of the globe
                            while making a meaningful difference in individual lives.</li>
                        <li><b>Cutting-Edge Technology : </b>Leverage our state-of-the-art e-learning infrastructure,
                            ensuring a seamless and engaging learning experience for both you and your students.</li>
                        <li><b>Flexible Teaching Opportunities : </b>Create and manage your courses on a schedule that
                            suits your lifestyle, allowing you to balance your professional and personal commitments.
                        </li>
                        <li><b>Competitive Compensation : </b> Benefit from a transparent and rewarding compensation
                            structure that recognizes your expertise and commitment to education.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-2 text-center">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                <h1 style="color: #fb873f;">How It Works</h1>
                <p class="mb-5">Your Journey to Becoming an Instructor</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <h5 class="mb-3">Application Process</h5>
                        <p>Submit your application and provide details about your expertise, teaching philosophy, and
                            the courses you want to offer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <h5 class="mb-3">Content Creation</h5>
                        <p>Develop high-quality course content with the support of our instructional design team,
                            ensuring your materials are engaging and effective.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <h5 class="mb-3">Go Live</h5>
                        <p>Once approved, your courses go live on our platform, and learners from around the world can
                            enroll and benefit from your knowledge.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3 shadow">
                    <div class="p-4">
                        <h5 class="mb-3">Engage and Grow</h5>
                        <p>Interact with your students through discussion forums, live Q&A sessions, and feedback
                            mechanisms, fostering a supportive learning community.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">

                <h1 class="mb-4" style="color: #fb873f;">What We Look for in Our Instructors</h1>

                <div class="row gy-2 gx-4 mb-4">
                    <ul style="list-style: none;">
                        <li><b>Passion for Teaching :</b>A genuine enthusiasm for sharing knowledge and facilitating the
                            learning journey for others.</li>
                        <li><b>Expertise in Your Field : </b>Demonstrated expertise in your subject matter, backed by
                            relevant qualifications and experience.</li>
                        <li><b>Communication Skills : </b>Clear and effective communication to convey complex concepts
                            and engage learners of various backgrounds.</li>
                        <li><b>Innovation : </b> Willingness to embrace innovative teaching methods and technologies to
                            enhance the learning experience.</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/instructor-2.jpg' %}"
                        alt="" style="object-fit: cover;">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{% static 'img/ready.jpg' %}" alt="" width="500px">
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">

                <h1 style="color: #fb873f;">Ready to Join Us?</h1>
                <p class="mb-4">Here's How to Get Started</p>

                <div class="row gy-2 gx-4 mb-4">
                    <ul style="list-style: none;">
                        <li><i class="fa fa-check"></i> Familiarize yourself with Secret Coder and the diverse range of
                            courses we offer.</li>
                        <li><i class="fa fa-check"></i> Craft a compelling application that showcases your passion,
                            expertise, and proposed course offerings.</li>

                    </ul>
                </div>
                <a class="btn text-white btn-lg" href="{% url 'form' %}">Apply
                    Now</a>
            </div>



        </div>
    </div>
</div>




<!-- About End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">

                <h5 class="mb-4">Join Us in Transforming Lives Through Education!</h5>

                <p>At SecretCoder, we believe that education has the power to transform lives. Join us in creating a
                    world where knowledge knows no bounds, and together, let's inspire, innovate, and educate!</p>

            </div>



        </div>
    </div>
</div>


<!-- Instructor Page End -->


{% endblock %}