{% extends 'base.html' %}
{% block title %}Privacy Policy{% endblock %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Privacy Policy</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Privacy Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<div class="container">
    <h2 class="mb-4"> Privacy Policy for Secret Coder</h2>
    <div class="content">
        <h5 class="mb-2">Introduction </h5>
        <p class="mb-4">Welcome to Secret Coder, an online learning platform dedicated to empowering individuals through
            coding education. This privacy policy outlines how we collect, use, disclose, and protect your personal
            information when you use our website.</p>

        <h4 class="mb-4">Information We Collect</h4>

        <h5 class="mb-2">Personal Information</h5>

        <p class="mb-2">
        <ul>
            <li>When you create an account, we collect your name, email address, and other information required for
                account creation.</li>
            <li>If you make a purchase, we collect billing information such as credit card details.</li>
            <li>We may collect additional personal information you choose to provide, such as a profile picture or other
                user-generated content.</li>
        </ul>
        </p>


        <h5 class="mb-2">Usage Information</h5>
        <p class="mb-2">
        <ul>
            <li>We collect information about how you interact with our website, including pages viewed, time spent on
                the site, and other usage statistics.</li>
        </ul>
        </p>

        <h5 class="mb-2">Device and Browser Information</h5>
        <p class="mb-2">
        <ul>
            <li>We automatically collect information about the device and browser you use to access our website,
                including IP address, device type, and browser type.</li>
        </ul>
        </p>

        <h5 class="mb-2">How We Use Your Information</h5>
        <p class="mb-2">We use your personal information for the following purposes:
        <ul>
            <li>To provide and maintain our services.</li>
            <li>To personalize your experience and improve our website.</li>
            <li>To process transactions and send transaction-related communications.</li>
            <li>To send periodic emails, including updates, promotions, and newsletters.</li>
        </ul> We may use non-personal information for analytical purposes, such as analyzing user trends and
        preferences.
        </p>

        <h5 class="mb-2">Sharing Your Information</h5>
        <p class="mb-2">We do not sell, trade, or rent your personal information to third parties. However, we may share
            information with trusted third parties who assist us in operating our website, conducting our business, or
            servicing you.
        </p>
        <p class="mb-4">We may also disclose your information when required by law or to protect our rights, privacy,
            safety, or property.</p>

        <h5 class="mb-2">Security</h5>
        <p class="mb-4">We implement security measures to protect your personal information. However, no method of
            transmission over the internet or electronic storage is 100% secure. Therefore, we cannot guarantee absolute
            security.</p>

        <h5 class="mb-2">Cookies and Tracking Technologies</h5>
        <p class="mb-4">We use cookies and similar tracking technologies to enhance your experience on our website and
            analyze usage patterns. You can control cookies through your browser settings.</p>

        <h5 class="mb-2">Your Choices</h5>
        <p class="mb-4">You can update your account information and preferences by logging into your account.

            You can opt-out of receiving promotional emails by following the instructions provided in the emails.</p>

        <h5 class="mb-2">Children's Privacy</h5>
        <p class="mb-4">Our website is not directed to children under the age of 13. We do not knowingly collect personal information from children.</p>

        <h5 class="mb-2">Changes to this Privacy Policy</h5>
        <p class="mb-4">We may update this privacy policy from time to time. Any changes will be posted on this page with the updated date.</p>

        <h5 class="mb-2">Contact Information</h5>
        <p class="mb-4"> For any questions about this privacy policy, you may contact us at <a href="mailto:secretcoder@gmail.com"> secretcoder@gmail.com</a>.</p>
        
        <p class="mb-2">By using Secret Coder, you agree to the terms of this privacy policy.</p>
        <p class="mb-4">02, January, 2024</p>
    </div>
</div>


{% endblock %}